.notification {
  .notification-body {
    position   : relative;
    padding-top: 1.2rem;
    color      : $color_secondary;
    a {
      color: $color_primary;
      &:hover {
        text-decoration: none;
        color          : lighten($color_primary, 20%);
        transition     : color 1s;
      }
    }
    > h4 {
      color: $color_dark;
    }
  }
}
